*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'Lato'
}
.clearfix{
	clear:both;
}
a{
	text-decoration:none;
}
body{
	overflow-x:hidden;
}



@mixin transitionRule($timing){
	-webkit-transition: $timing;
	-moz-transition: $timing;
	transition: $timing;
}