.home{
	position:relative;
	.nameSlot{
		position:absolute;
		top:50%;
		height:174px;
		width: calc(100% - 300px);
		text-align:center;
		margin-top:-87px;
		.name{
			display:inline-block;
			padding:10px 2em;
			font-size:2.8em;
			letter-spacing:0.1em;
			font-weight:300;
		}
		.role{
			display:inline-block;
			border-top:1px solid;
			border-bottom:1px solid;
			padding:10px 7em;
			letter-spacing:0.085em;
		}
		.links{
			a{
				padding:15px 15px;
				display:inline-block;
				font-size:1.8em;
				color: #A80000;
				margin-top:20px;
				@include transitionRule(1s);
				&.moveUp{
					margin-top:0;
				}
			}
		}
	}
}