
.home{
	position:relative;
	overflow-x:hidden;	
	svg.myImg{
		right:-150px;
		@media screen and (max-width: $mobile){
			right:-100px;
		}
	}
	.face-logo{
		display: none;
		@media screen and (max-width: $mobile){
			display:block;
		}
	}
	.nameSlot{
		position:absolute;
		top:50%;
		z-index:10;
		height:174px;
		width: calc(100% - 300px);
		text-align:center;
		margin-top:-87px;
		@media screen and (max-width: $mobile){
			top:auto;
			bottom:0;
			width:100%;
			margin:0 auto;
		}
		.name{
			display:inline-block;
			padding:10px 2em;
			font-size:2.8em;
			letter-spacing:0.1em;
			font-weight:300;
			margin-right: -250px;
			@include transitionRule(1s);
			@media screen and (max-width: $mobile){
				padding:10px 0;
				font-size:2.4em;
			}
			&.moveLeft{
				margin-right:0;
			}
		}
		.role{
			display:inline-block;
			border-top:1px solid;
			border-bottom:1px solid;
			padding:10px 7em;
			letter-spacing:0.085em;
			margin-left: -250px;
			@include transitionRule(1s);
			@media screen and (max-width: $mobile){
				padding:10px 20px;
			}
			&.moveRight{
				margin-left:0;
			}
		}
		.links{
			a{
				padding:15px 15px;
				display:inline-block;
				font-size:1.8em;
				color: #A80000;
				margin-top:50px;
				@include transitionRule(2s);
				&.moveUp{
					margin-top:0;
				}
				@media screen and (max-width: $mobile){
					font-size:1.4em;
				}
			}
		}
	}
}